.socials {
  width: 100%;
  padding: 50px 0;
  position: relative;
  z-index: 10;
}
.social-squre {
  width: 70px;
  height: 70px;
  background-color: #313131;
  position: relative;
  margin: 10px;
  border-radius: 5px;
}
.social-squre svg {
  width: 30px;
  color: white;
  position: relative;
  height: 30px;
  top: 28%;
}
.socials h2 {
  display: flex;
  color: #e3e3e3;
  justify-content: center;
  align-items: center;
}
.social-squre span:first-child,
.social-squre span:last-child {
  width: 64%;
  margin-top: 10px;
  z-index: 10;
  left: -12px;
  height: 5px;
  transform: rotatez(-45deg);
  background-color: transparent;
  position: absolute;
}
.social-squre span:last-child {
  bottom: 9px;
  right: -12px;
  left: unset;
}
.squares-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
@media screen and (max-width: 1200px) {
  .squares-container {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .socials h2 {
    font-size: 20px;
  }
}
