.participate {
  background-color: #313131;
  color: #e3e3e3;
  padding: 100px 0;
  box-sizing: border-box;
}
.participate-container {
  width: 1140px;
  margin: 0 auto;
}
.participate-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}

.participate-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.step1,
.step2,
.step3 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 350px;
  margin: 20px;
}
.step1 {
  margin-left: 0;
}
.step3 {
  margin-right: 0;
}

.step1 h1,
.step2 h1,
.step3 h1 {
  font-size: 120px;
  margin: 0;
  margin-right: 20px;
  color: #989898;
  margin-top: -30px;
}
.step1 p,
.step2 p,
.step3 p {
  font-size: 20px;
  color: #e3e3e3;
  font-weight: 500;
}
.verify-kyc {
  color: #e3e3e3;
  border: #989898 1px solid;
  background-color: transparent;
  padding: 15px 0;
  width: 190px;
  font-size: 22px;
  font-weight: 500;
}
.verify-kyc {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@media screen and (max-width: 1200px) {
  .participate-container {
    width: 950px;
  }
  .participate-bottom {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 990px) {
  .participate-container {
    width: 750px;
  }
}
@media screen and (max-width: 768px) {
  .participate-container {
    width: 90%;
  }
  .participate-top {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
  }
  .verify-kyc {
    margin-top: 20px;
  }
}
