.features {
  position: relative;
  z-index: 15;
  box-sizing: border-box;
  margin-bottom: 100px;
  background-color: #313131;
}
.features > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.features > div > h3 {
  color: #e3e3e3;
  margin: 0;
  font-size: 36px;
}

.sub-features h2 {
  color: #944700;
  margin: 0 15px;
}

.sub-features img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}
.sub-features a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
  color: #e3e3e3;

  flex-direction: column;
}
.sub-features svg {
  width: 60px;
  height: 60px;
}
.sub-features div {
  width: 220px;
  padding: 15px;
  box-sizing: border-box;
  height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  background-color: #30663081;
  border-radius: 8px;
}
.sub-features div span {
}
