.member-container > img {
  width: 120px;
  object-fit: contain !important;
  height: 120px;
  margin-bottom: 20px;
}
.member-container {
  width: 250px;
  background-color: rgba(48, 102, 48, 0.507);
  margin: 10px;
  padding-top: 30px;
  height: 300px;
  box-sizing: border-box;
}
.member-container p {
  margin: 0;
  color: #989898;
}
.member-container h2 {
  margin: 0;
  color: #e3e3e3;
}
.member-container svg {
  color: #989898;
  margin: 5px;
  font-size: 30px;
}
@media screen and (max-width: 576px) {
  .member-container > img {
    width: 55%;
    height: 55%;
  }
  .member-container {
    width: 400px;
    height: 500px;
  }
}
@media screen and (max-width: 450px) {
  .member-container {
    width: 90vw;
    height: 450px;
  }
}
